<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mlperf.inference">

  <uses-sdk android:minSdkVersion="23" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true">
    <activity
        android:name="org.mlperf.inference.MLPerfEvaluation"
        android:screenOrientation="portrait"
        android:theme="@style/AppThemeNoActionBar"
        android:launchMode="singleTask"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".SettingsActivity"
        android:screenOrientation="portrait"
        android:label="@string/title_activity_settings"
        android:parentActivityName=".MLPerfEvaluation"
        android:exported="false">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="org.mlperf.inference.MLPerfEvaluation" />
    </activity>
  </application>
</manifest>
